// Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.
@jaune : #edc34e;
@gris : #c7b299;
@vert : #9fbf3f;
@blue : #3f30c9;

h1{
  color : @jaune;
}
h2{
  color :@gris;
}
h3{
  color : @vert;
}
h4{
  color : @blue;
}

#monLogo{
  width: 90px;
}

section{
  background-color: black;
  color: white;
}
