<!-- <h1>Couleur1</h1>
<h2>Couleur2</h2>
<h3>Couleur3</h3>
<h4>Couleur4</h4> -->

<section class="section section-quaternary mt-none mb-sm ">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h1>Trouver une salle à louer proche de chez vous</h1>
            </div>

            <div class="col-md-12">
                <form action="/trouver-une-salle" method="get">
                    <div class="row">
                        <div class="col-md-5 ">
                            <div class="formBlock select typeahead-container">
                                <label>Ville ou code postal  :</label>
                                <input type="search" name="trouver_salle_type[lieu]" autocomplete="off" placeholder="Où ?" class="formDropdown form-control" />
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <div class="formBlock select typeahead-container">
                                <label>Rayon de recherche</label>
                                <input type="search" name="trouver_salle_type[lieu]" autocomplete="off" placeholder="Rayon ?" class="formDropdown form-control" />
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="formBlock select">
                                <label>Nbr de personnes : </label>
                                <input type="text" name="trouver_salle_type[nombre_personnes]" size="5" placeholder="Nombre de personnes ?" class=" form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 pt-lg">
                            <button type="submit" class="btn btn-primary btn-lg pull-right"><i class="fa fa-search fa-lg"></i> Lancer la recherche</button>
                        </div>
                    </div>
                    <input type="hidden" name="trouver_salle_type[lieu_id]" value="" class=" form-control" />
                    <input type="hidden" name="trouver_salle_type[type]" value="" class=" form-control" />
                    <input type="hidden" name="trouver_salle_type[rayon]" class=" form-control" />
                </form>
            </div>
        </div>
    </div>
</section>

<div class="col-lg-offset-3 col-lg-6">
    <img src="https://i.stack.imgur.com/D167A.png" alt="">
</div>
