#monLogo {
  margin-left: 150px;
  width: 200px;
}
#head_top {
  background-image: url(http://www.entrebeauceetperche.fr/public/images/header.jpg);
  background-size: cover;
}
#profileTop {
  margin-top: 51px;
}
section {
  background-color: #3e2b2b;
  color: #edc34e;
}
.styleNavbar {
  background-color: #3e2b2b;
  margin-bottom: -50px;
}
.nav {
  margin-right: 10px;
  margin-left: 10px;
}
nav {
  box-shadow: none;
}
navbar-inverse {
  background-color: #3e2b2b !important;
}
