h1 {
  color: #edc34e;
}
h2 {
  color: #c7b299;
}
h3 {
  color: #9fbf3f;
}
h4 {
  color: #3f30c9;
}
#monLogo {
  margin-left: 150px;
  width: 200px;
}
#head_top {
  background-image: url(http://www.entrebeauceetperche.fr/public/images/header.jpg);
  background-size: cover;
}
section {
  background-color: black;
  color: white;
}
.styleNavbar {
  background-color: black;
  margin-bottom: -50px;
}
